ws-security/src/main/webapp/WEB-INF/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions xmlns:tns="http://www.jboss.org/jbossws/ws-extensions/wssecuritypolicy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsaws="http://www.w3.org/2005/08/addressing" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" name="SecurityService" targetNamespace="http://www.jboss.org/jbossws/ws-extensions/wssecuritypolicy">
	<types>
		<xsd:schema targetNamespace="http://www.jboss.org/jbossws/ws-extensions/wssecuritypolicy">
			<!--
      <xsd:import namespace="http://www.jboss.org/jbossws/ws-extensions/wssecuritypolicy" schemaLocation="SecurityService_schema1.xsd"/>
		-->
			<xsd:complexType name="sayHelloType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" form="qualified"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sayHello" type="tns:sayHelloType"/>
			
			<xsd:complexType name="sayHelloResponseType">
				<xsd:sequence>
					<xsd:element name="return" type="xsd:string" form="qualified"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="sayHelloResponse" type="tns:sayHelloResponseType"/>
			
		</xsd:schema>
	</types>
	<message name="sayHello">
		<part name="parameters" element="tns:sayHello"/>
	</message>
	<message name="sayHelloResponse">
		<part name="parameters" element="tns:sayHelloResponse"/>
	</message>
	<portType name="ServiceIface">
		<operation name="sayHello">
			<input message="tns:sayHello"/>
			<output message="tns:sayHelloResponse"/>
		</operation>
	</portType>
	<binding name="SecurityServicePortBinding" type="tns:ServiceIface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#SecurityServiceSignThenEncryptPolicy"/>
		<operation name="sayHello">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="SecurityService">
		<port name="SecurityServicePort" binding="tns:SecurityServicePortBinding">
			<soap:address location="http://localhost:8080/jaxws-samples-wssePolicy-sign-encrypt"/>
		</port>
	</service>
	<wsp:Policy wsu:Id="SecurityServiceSignThenEncryptPolicy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V1Token11/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
									<wsp:Policy>
										<sp:WssX509V1Token11/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:TripleDesRsa15/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
						<sp:EncryptSignature/>
						<sp:OnlySignEntireHeadersAndBody/>
						<sp:SignBeforeEncrypting/>
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<sp:Body/>
				</sp:SignedParts>
				<sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<sp:Body/>
				</sp:EncryptedParts>
				<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</definitions>
